.upload-container {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeInUp 1s ease-in-out;
}

.upload-title {
  font-size: 24px;
  font-weight: bold;
  color: #444;
  margin-bottom: 20px;
  animation: slideInDown 1s ease-in-out;
}

.document-type-dropdown {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 8px;
  border: 2px solid #efde22;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.document-type-dropdown:hover {
  transform: scale(1.05);
}

.upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 2px dashed var(--accent-color);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
}

.upload-box:hover {
  background: rgba(255, 255, 255, 0.8);
  transform: scale(1.05);
}

.upload-button {
  background: linear-gradient(to right, #f1e942, #cfe908);
  color: rgba(0, 0, 0, 0.7);
  padding: 12px 24px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.upload-button:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
